In [1]:
print("Hello \
       python")

Hello        python

In [2]:
print("""   |   |
---+---+---
   |   |
---+---+---
   |   |""")

   |   |
---+---+---
   |   |
---+---+---
   |   |

In [3]:
print('Hello World')

Hello World

In [4]:
print("Python's world")

Python's world

In [5]:
print("Hello\nPython")

Hello
Python

In [6]:
print('Python\'s world')

Python's world

In [7]:
name = "XYZ"
marks = 90.867
age = 20
print("The name of the person is", name, ", marks obtained are", marks, "and age is", age)

The name of the person is XYZ , marks obtained are 90.867 and age is 20

In [8]:
print("The name of the person is %10s, marks obtained are %10.2f and age is %10d"%(name,marks,age))

The name of the person is        XYZ, marks obtained are      90.87 and age is         20

In [9]:
print(f"The name of the person is {name}, marks obtained are {marks} and age is {age}")

The name of the person is XYZ, marks obtained are 90.867 and age is 20

Python Variables and Assignment Statements
Variable means linking of data to a name.
According to the data-type, the interpreter reserves the memory space.
Variable refers to the memory location that contains the data.
Rules to define a variable:
A keyword(or reserved keywords) cannot be used as a variable.
A variable can contain letters, numbers and underscores (alphanumeric characters)
Python is case sensitive, so are it's variables
A variable cannot start with a number.
A variable is assigned to data by using assignment operator

In [10]:
F_a2 = 10

In [11]:
_10 = 10

In [12]:
id(_10)

140721967112880

id(variable name) gives us it's memory location

In [13]:
del _10

del keyword deletes the varible (it's assignment to 10 also)

In [14]:
_10

NameError: name '_10' is not defined

Python operators
Types of Operators:
1. Arithmetic operators
2. Comparision operators
3. Assignment operators
4. Bitwise operators
5. Logical operators
6. Membership operators
7. Identity operators
Arithmetic operators

In [16]:
3**3

27

In [17]:
10/2

5.0

In [18]:
10/3

3.3333333333333335

In [19]:
10%3

1

In [20]:
10//3

3

In [21]:
5 + 2

7

In [22]:
5 - 2

3

In [23]:
5*2

10

Comparision operators

In [24]:
a = 10
b = 20

In [25]:
a == b

False

In [26]:
a < b

True

In [27]:
a > b

False

In [28]:
a <= b

True

In [29]:
a >= b

False

In [30]:
a != b

True

Assignment operators

In [31]:
a = b

In [33]:
print(a)
print(b)
20

20
20

20

In [34]:
a += b

In [35]:
print ("a=",a)
print ("b=",b)
a= 40
b= 20

a= 40
b= 20

In [36]:
a -=b

In [37]:
print ("a=",a)
print ("b=",b)
a= 20
b= 20

a= 20
b= 20

In [38]:
a *= b

In [39]:
print ("a=",a)
print ("b=",b)
a= 400
b= 20

a= 400
b= 20

In [40]:
a /= b

In [41]:
print ("a =",a)
print ("b =",b)
a = 20.0
b = 20

a = 20.0
b = 20

In [42]:
a **= b

In [49]:
a = 5
b = 2

In [45]:
a **= b

In [46]:
print ("a =",a)
print ("b =",b)

a = 25
b = 2

In [50]:
print ("a =",a)
print ("b =",b)
a = 1.048576e+26
b = 20

a = 5
b = 2

In [53]:
a **= b

In [52]:
print ("a =",a)
print ("b =",b)
a = 25
b = 2

a = 1.048576e+26
b = 20

Bitwise operators

In [54]:
a = 240
b = 1

In [55]:
a | b

241

In [56]:
a & b

0

In [57]:
~a

-241

In [58]:
~b

-2

In [59]:
a^b

241

In [60]:
a<<2

960

In [61]:
b>>2

0

Logical operators

In [62]:
a =True
b = False

In [63]:
a and b

False

In [64]:
a or b

True

In [65]:
a = 10
b = 20

In [66]:
a < 10 and 20 > M

False

Note the last example (with M)
Membership operators

In [67]:
str1 = "pythonprogramming"

In [68]:
"a" in str1

True

In [69]:
"x" in str1

False

In [70]:
"x" not in str1

True

Identity operators

In [71]:
a = 10
b = 10
a == b

True

In [72]:
a is b

True

In [73]:
id(a)

140721967112880

In [74]:
id(b)

140721967112880

In [75]:
x = 1.5
y = 1.5
x == y

True

In [76]:
x is y

False

In [77]:
id(x)

2592541337424

In [78]:
id(y)

2592542056496

For int .... -5 to 256 ..... a is b if a == b
for a = 257 and b = 257 ..... a is b gives false but a==b is still true